<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "login-form"} ) do |f| %>
	<div id="login-inner">
		<div id="wrapper">
	      <p>PAINEL ADMINISTRATIVO</p>
	  </div>
	 	<div class="field-separator">
			<%= f.label :login %>
	  	<%= f.text_field :login, :class => "txt" %>
		</div>
	  <div class="field-separator">
			<%= f.label :password %>
	  	<%= f.password_field :password, :class => "txt" %>
		</div>

		<div id="login-bottom">
			<div id="remember-me">
			  <% if devise_mapping.rememberable? %>
				    <%= f.check_box :remember_me %><%= f.label :remember_me %>
			  <% end %>
				&#124;&nbsp; 
				<%= render :partial => "devise/shared/links" %>
			</div>
			<div>
			  <%= f.submit "Sign in", :id => "login-button", :class => "submit large round" %>
			</div>
	    <div style="clear: both"></div>
		</div>
	</div>
<% end %>