<%= simple_form_for(@propaganda, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome, :required => true %>
		<%= f.label 'Arquivo'%> <%= f.file_field :image, :required => true %>
    <%= f.association :categorias, :as => :check_boxes, :label_method => :descricao %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>