<%= simple_form_for(@propaganda, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome, :required => true %>
		<%= f.label 'Imagem'%> <%= f.file_field :image %></br></p>
		<%= f.label 'Media'%> <%= f.file_field :media %></br></p>
    <%= f.association :categorias, :label_method => :descricao %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>