<%= form_for(@propaganda) do |f| %>
  <% if @propaganda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propaganda.errors.count, "error") %> prohibited this propaganda from being saved:</h2>

      <ul>
      <% @propaganda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :local_path %><br />
    <%= f.text_field :local_path %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
