<h1>Listing propagandas</h1>

<table>
  <tr>
    <th>Local path</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @propagandas.each do |propaganda| %>
  <tr>
    <td><%= propaganda.local_path %></td>
    <td><%= propaganda.nome %></td>
    <td><%= link_to 'Show', propaganda %></td>
    <td><%= link_to 'Edit', edit_propaganda_path(propaganda) %></td>
    <td><%= link_to 'Destroy', propaganda, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Propaganda', new_propaganda_path %>
