<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @propaganda.nome %>
</p>

<p>
  <b>S3 Link:</b>
  <%= link_to @propaganda.local_path, @propaganda.s3_url %>
</p>

<%= link_to 'Edit', edit_propaganda_path(@propaganda) %> |
<%= link_to 'Back', propagandas_path %>
