<%= simple_form_for(@video, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nome, :required => true %>
    <%= f.input :descricao %>
    <%= f.association :categorias, :as => :check_boxes, :label_method => :descricao %>
		<%= f.input :tag_list, :label => "Tags"%>

		<%= f.fields_for :images do |builder| %>
			<% if builder.object.new_record? %>
				<p>
					<%= builder.label :image, "Image File" %>
					<%= builder.file_field :image %>
				</p>
			<% end %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>