<p>
  <b>Nome:</b>
  <%= @video.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @video.descricao %>
</p>

<p>
	<b>Categorias:</b>
	<%= @video.categorias.count %>
</p>

<p>
	<b>Imagens:</b>
	<% @video.images.each do |builder| %>		
		<p>
			<%= image_tag builder.image_url %>
		</p>
	<% end %>
</p>

<% if can? :manage, @video %>
	<%= link_to 'Edit', edit_video_path(@video) %> |
<% end %>
<%= link_to 'Back', videos_path %>
