<%= f.error_notification %>

<div class="inputs">
	<%= f.input :email, :required => true %>
	<%= f.input :password, :required => true %>
	<%= f.input :password_confirmation, :label => 'Confirm', :required => true %>
	<%= f.association :perfil, :label_method => :descricao, :include_blank => false%>
	<% if can? :manage, @users %>
	<p><%= f.label :role %><%= f.collection_select :role, User::ROLES, :to_s, :humanize, {:include_blank => false} %></p>
	<% end %>
</div>

<div class="actions">
  <%= f.button :submit %>
</div>